# SPDX-FileCopyrightText: 2022 Orcro Ltd. <team@orcro.co.uk>
#
# SPDX-License-Identifier: CC0-1.0

# build artefacts
SRC/rsconnect/
SRC/rsconnect/*
.Rproj.user
README.html

# IDE
contractAssembler.Rproj
.RData
.Rhistory
